<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="formularioAlta">
            <form method="post" action="/">
                <h2>Bienvenido:</h2>
                <input class="input-text" type="text" id="user" name="user" required placeholder="Usuario"><br>
                <input class="input-text" type="email" id="correo" name="correo" required placeholder="Correo electrónico"><br>
                <input class="input-text" type="password" id="passw1" name="passw1" required placeholder="Contraseña"><br>
                <input class="input-text" type="password" id="passw2" name="passw2" required placeholder="Verifique contraseña"><br>
                <button type="submit" class="boton">Enviar</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="../"></script>
    <script src="/vista/vistaAdimin.js"></script>
</body>
</html>