<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, V치zquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="/admin/">Ingresar</a>
            </nav>
        </div>
    </header> 
    <main>
        <div class="formularioAlta">
            <% if (locals.error === 'server') { %>
                <p>Error al crear Usuario</p>
            <% } %>
            <form method="post" action="/admin/">
                <h2>Bienvenido:</h2>
                <input class="input-text" type="text" id="user" name="user" required placeholder="Usuario"><br>
                <input class="input-text" type="email" id="mail" name="mail" required placeholder="Correo electr칩nico"><br>
                <input class="input-text" type="password" id="passA" name="passA" required placeholder="Contrase침a"><br>
                <input class="input-text" type="password" id="passB" name="passB" required placeholder="Verifique contrase침a"><br>
                <button type="submit" class="boton">Enviar</button>
            </form>
        </div>
        <%- include('partials/btnTheme') %>
    </main>
    <%- include('partials/footer') %>
    <script src="../"></script>
    <script src="/vista/vistaAdimin.js"></script>
</body>
</html>