<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/icono.png">
    <link rel="stylesheet" href="/estilos/estilos.css">
    <link rel="stylesheet" href="/estilos/normalize.css">
    <title>BeauScent</title>
    
</head>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="">Mostrar Por</a>
                <a href="">Cerrar Sesión</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="listaProductos">

        </div>
    </main>
    <footer class="footer">   
        <p>&copy; 2025 BeauScent. Todos los derechos reservados.</p>
        <div class="redes">
            <a href="https://www.instagram.com/beauscentt/" aria-label="Instagram"> </a><img src="/img/instagram.png" alt="Instagram">Instagram</a>
            <a href="https://www.facebook.com/profile.php?id=61576653569594" aria-label="Facebook"> </a> <img src="/img/Facebook.png" alt="Facebook">Facebook</a>
            <a href="mailto:beauscentt@gmail.com" aria-label="Contacto"> <img src="/img/Email.png" alt="Contacto"> Contacto</a>
        </div>
    </footer>
</body>
</html>