<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="beauscent" onclick="location.href='/admin/'">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="createUser">Crear Cuenta</a>
                <a href="/cliente/bienvenido"><i class="fa-solid fa-user" style="color: #b48191;"></i></a>
            </nav>
        </div>
    </header>
    <main>
        <div class="formularioLogin">
            <% if (locals.error === 'server') { %>
                <p>Error en el servidor</p>
            <% } else if (locals.error === 'user_not_found') { %>
                <p>Usuario no encontrado</p>
            <% } else if (locals.error === 'incorrect_password') { %>
                <p>Contraseña incorrecta</p>
            <% } else if (locals.error === 'password_check_failed') { %>
                <p>Error al verificar la contraseña</p>
            <% } else if (locals.error === 'invalid_token') { %>
                <p">Token inválido. Por favor, iniciá sesión de nuevo.</p>
            <% } else if (locals.error === 'token_expired') { %>
                <p>Tu sesión expiró. Iniciá sesión de nuevo.</p>
            <% } else if (locals.error === 'token_missing') { %>
                <p>No se encontro token.</p>
            <% } %>
            <div class="accesoDirecto">
                <button id="btn-superior" class="boton">Acceso directo</button>
            </div>
            <form method="POST" action="/admin/dashboard" >
                <h2>Inicio de sesion:</h2>
                <input class="input-text" type="email" id="mail" name="mail" required placeholder="Correo electrónico"><br>
                <input class="input-text" type="password" id="passw1" name="passw1" required placeholder="Contraseña"><br>
                <button class="boton">Ingresar</button>
            </form>
            <form action=""></form>
            
        </div>
        <%- include('partials/btnTheme') %>
    </main>
    <%- include('partials/footer') %>
    <script>
        const btnAcceso = document.getElementById('btn-superior');
        const mail = document.getElementById('mail');
        const passw1 = document.getElementById('passw1');

        btnAcceso.addEventListener('click', (e) =>{
            e.preventDefault();
            mail.value = "admin1@example.com";
            passw1.value = "123456"
            console.log('mail' + mail + '\ncontraseña' + passw1)
        })
    </script>
</body>
</html>