<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="createUser">Crear Cuenta</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="formularioLogin">
            <form action="">
                <h2>Inicio de sesion:</h2>
                <input class="input-text" type="text" id="user" name="user" required placeholder="Nombre de usuario"><br>
                <input class="input-text" type="password" id="passw1" name="passw1" required placeholder="Contraseña"><br>
                <input class="chk" type="checkbox">
                <button class="boton">Ingresar</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>

</body>
</html>