<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, V치zquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="createUser">Crear Cuenta</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="formularioLogin">
            <% if (locals.error === 'server') { %>
                <p>Error en el servidor</p>
            <% } else if (locals.error === 'user_not_found') { %>
                <p>Usuario no encontrado</p>
            <% } else if (locals.error === 'incorrect_password') { %>
                <p>Contrase침a incorrecta</p>
            <% } else if (locals.error === 'password_check_failed') { %>
                <p>Error al verificar la contrase침a</p>
            <% } %>
            <form method="POST" action="/admin/dashboard" >
                <h2>Inicio de sesion:</h2>
                <input class="input-text" type="text" id="user" name="user" required placeholder="Nombre de usuario"><br>
                <input class="input-text" type="password" id="passw1" name="passw1" required placeholder="Contrase침a"><br>
                <input class="chk" type="checkbox">
                <button class="boton">Ingresar</button>
            </form>
        </div>
    </main>
    <%- include('partials/footer') %>

</body>
</html>