<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
            <nav class="navegacion">
                <a href="createUser">Crear Cuenta</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="formularioLogin">
            <% if (locals.error === 'server') { %>
                <p>Error en el servidor</p>
            <% } else if (locals.error === 'user_not_found') { %>
                <p>Usuario no encontrado</p>
            <% } else if (locals.error === 'incorrect_password') { %>
                <p>Contraseña incorrecta</p>
            <% } else if (locals.error === 'password_check_failed') { %>
                <p>Error al verificar la contraseña</p>
            <% } else if (locals.error === 'invalid_token') { %>
                <p">Token inválido. Por favor, iniciá sesión de nuevo.</p>
            <% } else if (locals.error === 'token_expired') { %>
                <p>Tu sesión expiró. Iniciá sesión de nuevo.</p>
            <% } else if (locals.error === 'token_missing') { %>
                <p>No se encontro token.</p>
            <% } %>
            <form method="POST" action="/admin/dashboard" >
                <h2>Inicio de sesion:</h2>
                <input class="input-text" type="text" id="user" name="user" required placeholder="Nombre de usuario"><br>
                <input class="input-text" type="password" id="passw1" name="passw1" required placeholder="Contraseña"><br>
                <input class="chk" type="checkbox">
                <button class="boton">Ingresar</button>
            </form>
        </div>
        <%- include('partials/btnTheme') %>
    </main>
    <%- include('partials/footer') %>

</body>
</html>