<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>
<body>
    <header >
        <div class="contenedor header-productos">
            <div class="logo">
                <img src="/img/beauscent.png" alt="">
            </div>
            <div class="nombres">
                <p>Torales Sasha Micaela, Vázquez Luz</p>
            </div>
        </div>
    </header> 
    <main>
        <div class="formularioAlta">
            
        </div>
        <%- include('partials/btnTheme') %>
    </main>
    <%- include('partials/footer') %>
    <script src="../"></script>
    <script src="/vista/vistaAdimin.js"></script>
</body>
</html>